<p><h1>All the Figures</h1></p>

<% @figures.all.each do |figure|%>
  <a href="/figures/<%= figure.id %>"><%= figure.name %></a>
  <%# <%=binding.pry%> %>
  <% figure.titles.each do |title|%><br>
        <%=title.name%>
        <%end%>
  <% end %>
<br>
<a class="button" href="/">Go Home</a>
<%# <%= figure.name #%>
<%# <br><br> %>
<%# <% end %> %> %>