<p>Create a Figure</p>
<br>
<form action="/figures" method="POST">
    <input type="text" name="figure[name]" id="figure[name]">
    <br>
    <br>
    <label>Landmarks</label>
    <% Landmark.all.each do |landmark|
        <input id="landmark_<%=landmark.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id =>"><%= landmark.name %></input>
    <%# ??? Why figure[landmark_ids][] when there are no arrays#%>
    <% end %>
    <br>
    <br>
    <label>Create a New Landmark</label>
    <br>
    <label>Name:</label>
    <input type="text" name="landmark[name]" id="landmark_<%=landmark.id%>">
    <br>
    <label>Year:</label>
    <input type="text" name="landmark[year_completed]" id="new_landmark_year_completed">
    <br>
    <br>
    <label>Titles</label>
    <% Title.all.each do |title|
    <input id="title_<%=title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id =>"><%= title.name %></input>
    <% end %>
    <br>
    <br>
    <label>Create a New Title</label>
    <br>
    <label>Title:</label>
    <input type="text" name="title[name]" id="new_title">
    <br>
    <input type="submit" id="Create New Figure">
</form>